---
import CountDown from "../components/Countdown"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Dafei's Christmas" description="Time until Christmas">
  <main class="main-container">
    <CountDown client:load />
  </main>

  <style>
    .main-container {
      position: relative;
      overflow: hidden;
      height: 100svh;
    }
  </style>
</Layout>
