.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: transparent;
}

.countdown-title {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.countdown-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  place-items: center;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 2.5rem;
  text-align: center;
}

.countdown-value {
  font-size: 1.7rem;
  font-weight: bold;
}

.countdown-label {
  font-size: 1rem;
  opacity: 0.8;
}

@media (min-width: 350px) {
  .countdown-item {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 640px) {
  .countdown-title {
    font-size: 4rem;
  }

  .countdown-item {
    width: 100px;
    height: 100px;
  }

  .countdown-value {
    font-size: 2.5rem;
  }

  .countdown-label {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .countdown-title {
    font-size: 5rem;
  }

  .countdown-item {
    width: 120px;
    height: 120px;
    padding: 3rem;
  }

  .countdown-value {
    font-size: 3rem;
  }

  .countdown-label {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (min-height: 600px) {
  .countdown-title {
    font-size: 4rem;
    margin-top: 0;
  }

  .countdown-item {
    width: 110px;
    height: 110px;
    padding: 2rem;
  }

  .countdown-value {
    font-size: 2.5rem;
  }

  .countdown-label {
    font-size: 1.5rem;
  }
}
